/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


/* BACKGROUND IMAGE */
body {
    background-color: salmon;  
}

/* PAGE FORMAT */
/* main {
    display:grid;
    grid-template-columns: 4fr;
    flex-wrap: wrap;
} */

#title_bar{
    width: 70%;
    height: 10%;
    margin-left: 15%;
    background-color: rgba(0,0,0,.7);
    border-radius: 11px 11px 0px 0px;
    text-align: center;
    padding-top: .04%;
}

#nav_bar{
    width: 70%;
    height: 10%;
    margin-left: 15%;
    background-color: rgba(0,0,0,.7);
    border-radius: 0px 0px 11px 11px;
    
}


/* CLOSE BUTTON  */
.close{ 
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline: none;
} 

