{% load static %}
<html>
    <body>
        <head>

            <link rel="stylesheet" type="text/css" href="{% static 'events/css/main.css' %}">

        </head>
        
            <!-- <main> -->

                <header>
                    <div id="title_bar">
                        <h1 id="title_bar_txt">Portland Potluck</h1>
                    </div>
                </header>

                <div id="nav_bar">
                    <button>About</button>
                    <button>Rules</button>
                    <button>Contact</button>
                </div>
      
            <!-- </main> -->

            <!-- JAVASCRIPT -->
            <script>
                
                // //declaring buttons
                // let skills = document.querySelector("#skills");
                // let contact = document.querySelector("#contact");
                // let about = document.querySelector("#about");
                // let dj = document.querySelector("#dj");
                // let py = document.querySelector("#py");
                // let js = document.querySelector("#js");
                // let node = document.querySelector("#node");
                // let html_ = document.querySelector("#html_");

                // //declaring modals
                // let skills_modal = document.querySelector("#skills_modal"); 
                // let contact_modal = document.querySelector("#contact_modal");
                // let about_modal = document.querySelector("#about_modal"); 
                // let dj_modal = document.querySelector("#dj_modal"); 
                // let py_modal = document.querySelector("#py_modal"); 
                // let jd_modal = document.querySelector("#js_modal");
                // let node_modal = document.querySelector("#node_modal");
                // let html_modal = document.querySelector("#html_modal");

                // let skillclick = false

                // //open and closing modals with onclick funtions
                // skills.onclick = function(){
                //     if(skillclick){
                //         skills_modal.id = "skills_modal2"
                //         skillclick = false
                //         skills_modal.style.display = "none";
                //     } else {
                //         skills_modal.id = "skills_modal"
                //         skillclick = true
                //         skills_modal.style.display = "flex"; 
                        
                //     }
                // }

                // contact.onclick = function(){
                //     skillclick = false

                //     contact_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     about_modal.style.display = "none";  
                //     dj_modal.style.display = "none"; 
                //     py_modal.style.display = "none";  
                //     js_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                //     html_modal.style.display = "none"; 
                    
                // }

                // about.onclick = function(){
                //     skillclick = false

                //     about_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     dj_modal.style.display = "none"; 
                //     py_modal.style.display = "none";  
                //     js_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                //     html_modal.style.display = "none"; 
                // }

                // dj.onclick = function(){
                //     skillclick = false

                //     dj_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     about_modal.style.display = "none";  
                //     py_modal.style.display = "none";  
                //     js_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                //     html_modal.style.display = "none"; 
                // }

                // py.onclick = function(){
                //     skillclick = false

                //     document.querySelector("#py_modal").style.display = "flex"; 

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     about_modal.style.display = "none";  
                //     dj_modal.style.display = "none"; 
                //     js_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                //     html_modal.style.display = "none"; 
                // }

                // js.onclick = function(){
                //     skillclick = false

                //     js_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     about_modal.style.display = "none";  
                //     dj_modal.style.display = "none"; 
                //     py_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                //     html_modal.style.display = "none"; 
                // }

                // node.onclick = function(){
                //     skillclick = false

                //     node_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     about_modal.style.display = "none";  
                //     dj_modal.style.display = "none"; 
                //     py_modal.style.display = "none";  
                //     js_modal.style.display = "none";  
                //     html_modal.style.display = "none";
                // }

                // html_.onclick = function(){
                //     skillclick = false

                //     html_modal.style.display = "flex";  

                //     skills_modal.style.display = "none";  
                //     contact_modal.style.display = "none"; 
                //     about_modal.style.display = "none";  
                //     dj_modal.style.display = "none"; 
                //     py_modal.style.display = "none";  
                //     js_modal.style.display = "none";  
                //     node_modal.style.display = "none"; 
                // }


                // //image slide shows    

                // //header image slidewhow
                // var i = 0;
                // var images = [];
                // var time = 5000;

                // images[0] = "{% static 'home/image1.jpg' %}";
                // images[1] = "{% static 'home/image2.jpg' %}";
                // images[2] = "{% static 'home/image3.jpg' %}";

                // function imgchange(){
                //     document.slide.src = images[i];

                //     if(i < images.length - 1){
                //         i++;
                //     } else {
                //         i = 0;
                //     }
                    
                //     setTimeout("imgchange()", time);
                // }

                // window.onload = imgchange();


                // //django constantine project img slideshows
                // var c = 0;
                // var c_images = [];
                // var c_time = 4000;

                // c_images[0] = "{% static 'home/const_pre.png' %}";
                // c_images[1] = "{% static 'home/const_pre2.png' %}";
                // c_images[2] = "{% static 'home/const_pre3.png' %}";
                // c_images[3] = "{% static 'home/const_pre4.png' %}";

                // function c_imgchange(){
                //     document.constantine.src = c_images[c];

                //     if(c < c_images.length - 1){
                //         c++;
                //     } else {
                //         c = 0;
                //     }
                    
                //     setTimeout("c_imgchange()", c_time);
                // }

                // window.onload = c_imgchange();


                // //python farming project img slideshows
                // var f = 0;
                // var farm_images = [];
                // var farm_time = 6000;

                // farm_images[0] = "{% static 'home/farm8.png' %}";
                // farm_images[1] = "{% static 'home/farm7.png' %}";
                // farm_images[2] = "{% static 'home/farm2.png' %}";
                // farm_images[3] = "{% static 'home/farm3.png' %}";
                // farm_images[4] = "{% static 'home/farm4.png' %}";
                // farm_images[5] = "{% static 'home/farm5.png' %}";
                // farm_images[6] = "{% static 'home/farm6.png' %}";

                // function farm_imgchange(){
                //     document.farm.src = farm_images[f];

                //     if(f < farm_images.length - 1){
                //         f++;
                //     } else {
                //         f = 0;
                //     }
                    
                //     setTimeout("farm_imgchange()", farm_time);
                // }

                // window.onload = farm_imgchange();

                // //python web scraping project img slideshows
                // var s = 0;
                // var scrape_images = [];
                // var scrape_time = 6000;

                // scrape_images[0] = "{% static 'home/farm8.png' %}";
                // scrape_images[1] = "{% static 'home/farm7.png' %}";
                // scrape_images[2] = "{% static 'home/farm2.png' %}";
                // scrape_images[3] = "{% static 'home/farm3.png' %}";
                // scrape_images[4] = "{% static 'home/farm4.png' %}";
                // scrape_images[5] = "{% static 'home/farm5.png' %}";
                // scrape_images[6] = "{% static 'home/farm6.png' %}";

                // function scrape_imagechange(){
                //     document.scrape.src = scrape_images[s];

                //     if(s < scrape_images.length - 1){
                //         s++;
                //     } else {
                //         s = 0;
                //     }
                    
                //     setTimeout("scrape_imagechange()", scrape_time);
                // }

                // window.onload = scrape_imagechange();


                // //JavaScript project img slideshows
                // var a = 0;
                // var atm_images = [];
                // var atm_time = 5000;

                // atm_images[0] = "{% static 'home/atm.png' %}";
                // atm_images[1] = "{% static 'home/atm2.png' %}";
                // atm_images[2] = "{% static 'home/atm3.png' %}";
              

                // function atm_imgchange(){
                //     document.atm.src = atm_images[a];

                //     if(a < atm_images.length - 1){
                //         a++;
                //     } else {
                //         a = 0;
                //     }
                    
                //     setTimeout("atm_imgchange()", atm_time);
                // }

                // window.onload = atm_imgchange();

                // //node img slideshows
                // var n = 0;
                // var sms_images = [];
                // var sms_time = 6000;

                // sms_images[0] = "{% static 'home/sms.png' %}";
                // sms_images[1] = "{% static 'home/sms2.png' %}";

                // function sms_imgchange(){
                //     document.sms.src = sms_images[p];

                //     if(n < sms_images.length - 1){
                //         n++;
                //     } else {
                //         n = 0;
                //     }
                    
                //     setTimeout("sms_imgchange()", sms_time);
                // }

                // window.onload = sms_imgchange();

                // //HTML img slideshows
                // var p = 0;
                // var piz_images = [];
                // var piz_time = 4000;
                
                // piz_images[0] = "{% static 'home/piz.png' %}";
                // piz_images[1] = "{% static 'home/piz2.png' %}";

                // function piz_imgchange(){
                //     document.pizza.src = piz_images[p];

                //     if(p < piz_images.length - 1){
                //         p++;
                //     } else {
                //         p = 0;
                //     }
                    
                //     setTimeout("piz_imgchange()", piz_time);
                // }

                // window.onload = piz_imgchange();
                                  
            </script>
    </body>
</html>