{% load static %}

<html>
    <body>
        <head>

            <link rel="stylesheet" type="text/css" href="{% static 'events/css/main.css' %}">

        </head>

                <header>
                    <div id="title_bar">
                        <h1 id="title_bar_txt">Portland Potluck</h1>
                        <!-- <img src="{% static 'events/rose.jpg' %}" width="100px" height="100px"> -->
                    </div>
                </header>

                <div id="nav_bar">
                    <button id="about" class="nav_btn">About</button>
                    <button id="rules"class="nav_btn">Rules</button>
                    <button id="contact" class="nav_btn">Contact</button>
                </div>
            
                <div id="content_home">
                </div>

                <div id="content_rules">
                </div>

                <div id="content_about">
                </div>

            <!-- JAVASCRIPT -->
            <script>

                let about_btn = document.querySelector('#about');
                let rules_btn = document.querySelector('#rules');
                let contant_btn = document.querySelector('#contact');

                let home = document.querySelector('#content_home')
                let rules = document.querySelector('#content_rules')
                let about = document.querySelector('#content_about')

                rules_btn.onlick = function(){

                    rules.style.display = "flex";  
                    
                    home.style.display = "none"; 
                    about.style.display = "none"; 
                }

     
                                  
            </script>
    </body>
</html>