{% load static %}

<html>
    <body>
        <head>

            <link rel="stylesheet" type="text/css" href="{% static 'events/css/main.css' %}">

        </head>

                <header>
                    <div id="title_bar">
                        <h1 id="title_bar_txt">Portland Potluck</h1>
                        <!-- <img src="{% static 'events/rose.jpg' %}" width="100px" height="100px"> -->
                    </div>
                </header>

                <div id="nav_bar">
                    <button class="nav_btn">About</button>
                    <button class="nav_btn">Rules</button>
                    <button class="nav_btn">Contact</button>
                </div>
            
                <div id="content_home">
                </div>

            <!-- JAVASCRIPT -->
            <script>
     
                                  
            </script>
    </body>
</html>